.c-cards {
  margin: 15px 15px 60px;
}

@include mq(sm){
  .c-cards {
    max-width: 600px;
    margin: 15px auto 60px;
  }
}

@include mq(md) {
  .c-cards {
    max-width: 700px;
    margin: 15px auto 60px;
  }
}

@include mq(lg) {
  .c-cards {
    max-width: 800px;
    margin: 15px auto 100px;
  }
}

@include mq(xl) {
  .c-cards {
    max-width: 1000px;
  margin: 15px auto 100px;
  }
}