.c-form {
  border: 1px solid $color_secondary;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px $color_light;

  &--colored {
    background: rgba(248, 202, 109, 0.1);
  }

  &__formTitle {
    display: inline-block;
    color: $color_dark;
    margin-bottom: 30px;
    border-bottom: 2px dotted $color_dark;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
  }

  &__title--must {
    position: relative;

    &::after {
      position: absolute;
      right: -40px;
      content: "*必須";
      color: $color_primary;
    }
  }

  &__radio {
    margin-left: 10px;
    display: inline-block;
  }

  &__input{
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
    width: 100%;
  }

  &__button>.c-button{
    &::after {
      right: 10px;
    }
  }
}




@include mq(sm) {
  .c-form {
    margin: 15px;
  }
}

@include mq(md) {
  .c-form {
    padding: 40px;
    &__item{
      margin-bottom: 40px;
    }
    &__item--flex{
      display: flex;
      justify-content: space-between;
      .c-form__body{
        width: 60%;
      }
    }
  }
}