.l-main {
  position: relative;
  top: -70px;
  &__overlay.gray {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color_light;
    opacity: 0.4;
    transition: all 0.3s ease;
  }
}